.navbar {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
  padding: 0 24px;
  display: flex;
  align-items: center;
  height: 64px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  .navbar-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .navbar-link {
    font-family: "Poppins", "Helvetica", "Arial", "Lucida Grande", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: var(--mat-sys-on-primary);
    text-transform: none;
    margin: 0 12px;
    text-decoration: none;
    transition: 0.3s;
    position: relative;

    &:hover {
      opacity: 0.8;
    }
  }
}
