<div class="container">
  <h1 class="title">Starships</h1>

  <div class="filter-section">
    <label for="manufacturer" class="filter-label"
      >Filter by Manufacturer:</label
    >
    <select
      id="manufacturer"
      class="filter-select"
      (change)="filterByManufacturer($event)"
    >
      <option value="">All</option>
      <option *ngFor="let manufacturer of manufacturers" [value]="manufacturer">
        {{ manufacturer }}
      </option>
    </select>
  </div>

  <div class="spinner-wrapper" *ngIf="loading">
    <mat-progress-spinner
      mode="indeterminate"
      diameter="50"
      color="primary"
    ></mat-progress-spinner>
  </div>

  <ul class="starship-list" *ngIf="!loading">
    <li
      *ngFor="let ship of filteredStarships$ | async"
      class="starship-item"
      [class.expanded]="isExpanded(ship)"
    >
      <h3 class="starship-name">{{ ship.name }}</h3>
      <p class="starship-detail">
        <strong>Manufacturer:</strong> {{ ship.manufacturer }}
      </p>
      <p class="starship-detail"><strong>Model:</strong> {{ ship.model }}</p>

      <button class="toggle-details-button" (click)="toggleDetails(ship)">
        {{ isExpanded(ship) ? "Hide Details" : "Show Details" }}
      </button>

      <div *ngIf="isExpanded(ship)" class="additional-details">
        <p class="starship-detail">
          <strong>Cargo Capacity:</strong> {{ ship.cargo_capacity }}
        </p>
        <p class="starship-detail">
          <strong>Cost in Credits:</strong> {{ ship.cost_in_credits }}
        </p>
        <p class="starship-detail">
          <strong>Consumables:</strong> {{ ship.consumables }}
        </p>
        <p class="starship-detail"><strong>Crew:</strong> {{ ship.crew }}</p>
        <p class="starship-detail">
          <strong>Hyperdrive Rating:</strong> {{ ship.hyperdrive_rating }}
        </p>
        <p class="starship-detail">
          <strong>Length:</strong> {{ ship.length }}
        </p>
        <p class="starship-detail">
          <strong>Passengers:</strong> {{ ship.passengers }}
        </p>
        <p class="starship-detail">
          <strong>Starship Class:</strong> {{ ship.starship_class }}
        </p>
      </div>
    </li>
  </ul>

  <div class="pagination">
    <button
      class="pagination-button"
      [disabled]="currentPage === 1 || filtered"
      (click)="goToPage(currentPage - 1)"
    >
      Previous
    </button>
    <span class="pagination-info"
      >Page {{ filtered ? 1 : currentPage }} of {{ totalPages }}</span
    >
    <button
      class="pagination-button"
      [disabled]="currentPage === totalPages || filtered"
      (click)="goToPage(currentPage + 1)"
    >
      Next
    </button>
  </div>
</div>
